/*-------------STYLE SECTION-----------------*/
/*(find the layout section in line 155)*/

/*Color palette:
    background color: very light grey rgb(230, 230, 230)
    primary text: very dark grey (messages, channels) rgb(63, 63, 63)
    primary color: bright orange (app bar) rgb(255, 115, 13)
    primary color text: black (app bar) rgb(0, 0, 0)
    accent color: blue grey (bttons) rgb(55, 71, 79)
    accent color text: white (buttons) rgb(255, 255, 255)*/

/*-----------------------------------*/

/*GLOBAL STYLE*/
*{
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*styles for the body*/
body{
    background-color: rgb(230, 230, 230);
}

/*Buttons & w3words-locations are uppercase*/
button, strong{
    text-transform: uppercase;
}

/*-----------------------------------*/ 

/*APP BARS*/
h1 {
    /*reused styles*/
    background-color: rgb(255, 115, 13);
    color: rgb(0, 0, 0);
    /*font-size/weight*/
    font-size: 20px;
    font-weight: bold;
    /*spacing*/
    letter-spacing: -0.5px;
    /*height*/
    height: 60px;
}

/*-----------------------------------*/

/*CHANNELS LIST*/

/*channel list style in general*/
ul{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
}

/*channels styles geometry & lines*/
li{
    color: rgb(63, 63, 63);
    font-size: 16px;
    box-sizing: border-box;
    padding: 16px;
    height: 48px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

/*selected channel is highlighted in primary color*/
li.selected{
    color: rgb(255, 115, 13);
    border-left: 4px solid rgb(255, 115, 13);
}

/*------------------------------------*/

/*TAB BAR & CHAT BAR*/

#tab-bar, #chat-bar{
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
    height: 72px;
}

#tab-bar button{
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 16px;
    border: none;
    width: 33%;
    text-align: center;
}

/*Black background for locations in chat-app-bar*/
#channelLocation a{
    color: rgb(0, 0, 0);
}

/*Alignment of icons inside tap bar buttons*/
#tab-bar button img{
    display: block;
    margin: 0 auto 4px auto;
}

/*Selected button is highlighted in primary color*/
#tab-bar button.selected{
    color: rgb(255, 115, 13);
    border-bottom: 4px solid rgb(255, 115, 13);
}

/*-------------------------------------*/

/*MESSAGES*/

/*Style for all chat messages*/
.chat-messages{
    width: 80%;
    margin-bottom: 8px;
    margin-left: 2.5%;
}

/*Metadata*/
.chat-messages h3{
    color: rgb(0, 0, 0);
    font-size: medium;
}

/*w3words locations link color*/
.chat-messages h3 a{
    color: rgb(0, 0, 0);
}

/*ttl*/
.chat-messages h3 em{
    font-size: larger;
    font-style: normal;
}

/*Written text - actual message*/
.chat-messages p{
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
    padding: 16px;
}

/*+5 MIN-Buttons after chat-message*/
.chat-messages button{
    background-color: rgb(55, 71, 79);
    color: rgb(255, 255, 255);
}

/*Own text message is further to the right*/
.chat-messages.own{
    margin-left: 17.5%;
}

/*------------------------------------------*/
/*------------------------------------------*/

/*--------------LAYOUT SECTION--------------*/

/*--GLOBAL LAYOUT--*/

/*Channel area is placed on the left of the screen*/
#channel-area{
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
}

/*Chat area is placed on the right of the screen*/
#chat-area{
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
}

/*------------------------------------------*/

/*--APP BARS POSITIONING--*/

/* App bar is on the top*/
h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*Moocus-icon inside the channel-app-bar*/
#moocus-icon{
    position: absolute;
    bottom: 0;
    left: 5px;
}

/*App name inside channel-app-bar*/
#channel-area h1 span{
    position: absolute;
    left: 60px;
    line-height: 60px;
}

/*Channel and location inside chat-app-bar*/
h1 div{
    position: absolute;
    left: 10px;
    line-height: 60px;
}

/*Star icon on the right of the chat-app-bar*/
#chatbar-star{
    position: absolute;
    right: 0px;
    height: auto;
    padding: 20px 16px;
}
/*-------------------------------------------*/

/*--CHANNELS LIST POSITIONING--*/

/*Channels list position with scroll bar*/
ul{
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    bottom: 72px;
    overflow: auto;
}

/*Star and arrow icon are on the right of each channel*/
.channel-meta{
    position: absolute;
    right: 0;
    padding-right: 4px;    
    vertical-align: middle;
}

/*-------------------------------------------*/

/*--TAB BAR & CHAT BAR POSITIONING--*/

/*Tab bar at the bottom with buttons equally distributed*/
#tab-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Chat bar at the bottom with the reversed order of emojis-button and emojis*/
#chat-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

/*Emojis-button*/
#emojis-button{
    margin-left: 16px;
    align-self: flex-start;
}

/*Emojis pop-up window*/
#emojis{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 140px;
    height: 140px;
    font-size: 28px;
    text-align: left;
    padding: 16px;
    margin-left: 16px;
    margin-top: 284px;
    position: absolute;
    bottom: 60px;
    overflow: auto;
    display: none;
}

/*-------------------------------------------*/

/*--MESSAGES POSITION--*/

/*Position of all messages to enable the scroll bar*/
#chat{
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 72px;
    left: 0;
    overflow: auto;
}

/*Chat message container for referencing*/
.chat-messages{
    position: relative;
}

/*new +5 min. button position*/
.chat-messages button{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/*W3words-location and meta-data is destributed equally above the actual message*/
.chat-messages h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/*The meta-data dates are in one column underneath each other*/
.chat-messages h3 span{
    width: fixed;
    display: flex;
    justify-content: center;
}

/*--------------------ICONS-----------------------------*/
.fa-star, .fa-chevron-right{
    font-size: 24px;
    line-height: 15px;
}
#send-button{
    position: absolute;
    right: 16px;
    font-size:24px;
}

input[type=text]{
    position: absolute;
    left: 50px;
    width: 75%;
    border: none;
    font-size: 16px;
}
